{% extends "base.html" %}
{% load i18n staticfiles %}
{% load url from future %}

{% block title %}Comocomo - Qué has comido{% endblock %}

{% block bodytag %}class="comocomo-slot-page"{% endblock %}

{% block body %}
    <div data-role="page" data-theme="b">
        <div data-role="header">
            <a href="{% url 'week' year=current_date.year month=current_date.month day=current_date.day %}"
                data-role="button" data-icon="back" data-inline="true" data-iconpos="notext"/>volver</a>
            <h1>¿Qué comes?</h1>
            <a href="{% url 'week' year=current_date.year month=current_date.month day=current_date.day %}"
                data-role="button" data-icon="false" data-inline="true" data-theme="e"/>guardar</a>
	</div>
        <div data-role="content">
            <p><strong>¿Qué has comido el {{ current_date|date:"l j \d\e F" }} - {{ day_slot.slot_name }}?</strong></p>
            <div class="ui-grid-c">
                {% for kind in all_kinds %}
                    <div class="{% cycle 'ui-block-a' 'ui-block-b' 'ui-block-c' 'ui-block-d' %}">
                        <a href="#" data-role="button" data-icon="false" class="comocomo-kind-button"
                            data-comocomo-kind-id="{{ kind.id }}">
                            <img src="{{ kind.icon_path }}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <p><strong>Comidas elegidas:</strong></p>
            <ul data-role="listview">
                <li data-icon="false" data-theme="c">
                <p id="comocomo-chosen-food-kinds">
                    {% comment %}
                    <img src="{{ all_kinds.3.icon_path }}">
                    <img src="{{ all_kinds.2.icon_path }}">
                    <img src="{{ all_kinds.3.icon_path }}">
                    {% endcomment %}
                </p>
                </li>
            </ul>
            <p><strong>Concreta un poco más:</strong></p>
            <div id="comocomo-food-type-selects">
                {% comment %}
                {% with all_kinds.3 as kind %}
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <legend><img src="{{ kind.icon_path }}"/> {{ kind.name }}</legend><br/>
                            {% for type in kind.food_types.all %}
                                <input type="radio" data-theme="c" name="select-type-{{ kind.id }}"
                                       id="select-type-{{ kind.id }}-{{ type.id }}"
                                       value="{{ type.id }}"{% if type.id == 93 %} checked="checked" {% endif %} />
                                <label for="select-type-{{ kind.id }}-{{ type.id }}">{{ type.name }}</label>
                            {% endfor %}
                        </fieldset>
                    </div>
                {% endwith %}
                {% endcomment %}
            </div>
            <div data-role="collapsible-set" id="comocomo-food-type-selects">
                {% comment %}
                {% with all_kinds.3 as kind %}
                    <div data-role="collapsible" data-content-theme="c" data-collapsed="false">
                        <h2><img src="{{ kind.icon_path }}"/> {{ kind.name }}</h2>
                        <ul data-role="listview">
                            {% for type in kind.food_types.all %}
                                <li data-icon="false">{{ type.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endwith %}
                {% with all_kinds.2 as kind %}
                    <div data-role="collapsible" data-content-theme="c" data-collapsed="false">
                        <h2><img src="{{ kind.icon_path }}"/> {{ kind.name }}</h2>
                        <ul data-role="listview">
                            {% for type in kind.food_types.all %}
                                <li data-icon="false">{{ type.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endwith %}
                {% with all_kinds.3 as kind %}
                    <div data-role="collapsible" data-content-theme="c" data-collapsed="false">
                        <h2><img src="{{ kind.icon_path }}"/> {{ kind.name }}</h2>
                        <ul data-role="listview">
                            {% for type in kind.food_types.all %}
                                <li data-icon="false">{{ type.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endwith %}
                {% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}

