{% extends "base.html" %}
{% load i18n staticfiles %}
{% load url from future %}

{% block title %}Comocomo - Qué has comido{% endblock %}

{% block body %}
    <div data-role="page" data-theme="b" id="comocomo-slot-page"
         data-comocomo-year={{ current_date.year }} data-comocomo-month={{ current_date.month }}
         data-comocomo-day={{ current_date.day }} data-comocomo-slot={{ day_slot.slot }}>
        <div data-role="header">
            <a href="{% url 'week' %}?year={{ current_date.year }}&month={{ current_date.month }}&day={{ current_date.day }}"
                data-role="button" data-icon="back" data-inline="true" data-iconpos="notext"/>volver</a>
            <h1>¿Qué comes?</h1>
            <a href="{% url 'week' %}?year={{ current_date.year }}&month={{ current_date.month }}&day={{ current_date.day }}"
                data-role="button" data-icon="false" data-inline="true" data-theme="e"/>guardar</a>
	</div>
        <div data-role="content">
            <p><strong>¿Qué has comido el {{ current_date|date:"l j \d\e F" }} - {{ day_slot.slot_name }}?</strong></p>
            <div class="ui-grid-c">
                {% for kind in all_kinds %}
                    <div class="{% cycle 'ui-block-a' 'ui-block-b' 'ui-block-c' 'ui-block-d' %}">
                        <a href="#" data-role="button" data-icon="false" class="comocomo-kind-button"
                            data-comocomo-kind-id="{{ kind.id }}">
                            <img src="{{ kind.icon_path }}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <p><strong>Comidas elegidas:</strong></p>
            <ul data-role="listview">
                <li data-icon="false" data-theme="c"> {# TODO: see if there is really necessary to add date and slot #}
                    <p id="comocomo-chosen-food-kinds-{{ current_date.year }}-{{ current_date.month }}-{{ current_date.day }}-{{ day_slot.slot }}">
                        <!-- Here will be added kind icons -->
                    </p>
                </li>
            </ul>
            <p><strong>Concreta un poco más:</strong></p>
            <div id="comocomo-food-type-selects">
                <!-- Here will be added type selectors -->
            </div>
        </div>
    </div>
{% endblock %}

