{% extends "base.html" %}
{% load i18n staticfiles %}
{% load url from future %}

{% block title %}Comocomo - Ver semana{% endblock %}

{% block body %}
    <div data-role="page" data-theme="b">
        <div data-role="header">
            {% with calendar.minus_one_week as prev %}
            <a href="{% url 'week' year=prev.year month=prev.month day=prev.day %}"
                data-role="button" data-icon="arrow-l" data-inline="true" data-iconpos="notext"/>anterior</a>
            {% endwith %}
            <h1>{{ calendar.start_of_week|date:"j"}}-{{ calendar.end_of_week|date:"j b Y" }}</h1>
            {% with calendar.plus_one_week as next %}
            <a href="{% url 'week' year=next.year month=next.month day=next.day %}"
                data-role="button" data-icon="arrow-r" data-inline="true" data-iconpos="notext"/>siguiente</a>
            {% endwith %}
	</div>
        <div data-role="content" style="background: #f3f3f3;">
            <div data-role="collapsible-set">
                {% for day, day_slots in week %}
                    <div data-role="collapsible" data-content-theme="c"{% if day == calendar.today %} data-collapsed="false"{% endif %}>
                        <h2>{{ day|date:"l j \d\e F" }}</h2>
                        <ul data-role="listview">
                            {% for slot in day_slots %}
                                <li data-icon="false">
                                    <a href="{% url 'slot' year=day.year month=day.month day=day.day slot=slot.slot %}">
                                        <h3>{{ slot.slot_name }}</h3>
                                        {% if slot.id %}
                                            {% with slot.eaten.all as eaten %}
                                                {% if eaten %}
                                                <p class="ui-li-aside">
                                                    {% for eaten_type in eaten %}
                                                        <img src="{{ eaten_type.kind.icon_path }}"/>
                                                    {% endfor %}
                                                </p>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="{% url 'week' %}" data-icon="home" data-theme="e">Semana</a></li>
                    <li><a href="#" data-icon="grid" data-theme="e">Calendario</a></li>
                    <li><a href="#" data-icon="star" data-theme="e">Resultados</a></li>
                </ul>
            </div>
	</div>
    </div>
{% endblock %}

