<nav-bar
  [content]="'Estadísticas'"
  ></nav-bar>

<div class="main-container">
  <div class="barns-title">
    Tus indicadores <strong>Nutriscore</strong> de la última semana son:
  </div>
  <div class="chart">
    <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="single$ | async"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>

  <div class="barns-content">
    <strong>Nutriscore</strong> es un sistema de cinco colores y letras a través de los cuales se indica si un alimento o producto es más o menos saludable.<br><br>
    <div class="nutriscore">
      <img src="assets/img/nutriscore.jpg" />
    </div>
    Estos símbolos de colores son dados al calcular el valor nutricional de la siguiente manera:
    <ul>
      <li>Grasas saturadas, azúcares y sodio suman puntos, ya que en concentraciones altas se consideran poco saludables.</li>
      <li>Frutas, verduras, fibra y proteinas restan puntos, ya que se consideran buenos para la salud.</li>
    </ul>
    A menor puntuación más saludable y, por el contrario, a mayor puntuación menos saludable.
  </div>
</div>

<menu-bar [currentSection]="'barns'"></menu-bar>
