.main-container {
  margin-bottom: 4rem;
  margin-top: 3rem;
  padding: 2rem;

  .barns-title {
    font-size: 100%;
  }

  .chart {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 35em) {
  .main-container {
  }
}
