<nav-bar
  [content]="'¿Qué comes?'"
  [leftRouterLink]="['/gathering']"
  [leftQueryParams]="returnParams"
  ></nav-bar>

<div class="main-container">
  <div class="gathering-title">¿Qué has {{ slotName }} el {{ dayNameShort }}?</div>
  <div class="food-groups">
    <button
      class="food-group"
      *ngFor="let foodKind of (foodKinds$ | async)"
      (click)="groupClicked(foodKind)">
      <img src="http://localhost:8000{{ foodKind.icon_path }}" />
      {{ foodKind.name }}
    </button>
  </div>
  <food-type
    *ngFor="let foodKind of selectedKinds"
    [foodKind]="foodKind"
    ></food-type>

</div>

<menu-bar [currentSection]="'day'"></menu-bar>
