<nav-bar
  [content]="'¿Qué comes?'"
  [leftRouterLink]="['/gathering']"
  [leftQueryParams]="returnParams"
  ></nav-bar>

<div class="main-container">
  <div class="gathering-title">¿Qué has {{ slotName }} el {{ dayNameShort }}?</div>
  <div class="food-kinds">
    <button
      *ngFor="let foodKind of (foodKinds$ | async)"
      class="food-kind"
      [class.selected]="isKindSelected(foodKind)"
      (click)="kindClicked(foodKind)">
      <img src="http://localhost:8000{{ foodKind.icon_path }}" />
      {{ foodKind.name }}
    </button>
  </div>
  <food-type
    *ngFor="let foodKind of selectedKinds"
    [foodKind]="foodKind"
    [foodType]="getSelectedType(foodKind)"
    (changed)="typeChanged(foodKind, $event)"
    ></food-type>
  <a class="button"
    *ngIf="isButtonShown"
    [class.disabled]="isButtonDisabled"
    [routerLink]="!isButtonDisabled ? ['/gathering'] : null"
    [queryParams]="!isButtonDisabled ? returnParams : null">
    Terminado
  </a>
</div>

<menu-bar [currentSection]="'day'"></menu-bar>
