<div class="main-container">
  <div class="logo">
    <h1>Comocomo</h1>
    <img src="assets/img/logo.png" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="username">Usuario</label>
      <input type="text" id="username" formControlName="username" required />
      <div *ngIf="username.invalid && (username.touched || username.dirty)" class="field-errors">
        <div *ngIf="username.errors.required" class="field-error-message">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="field">
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" required />
      <div *ngIf="password.invalid && (password.touched || password.dirty)" class="field-errors">
        <div *ngIf="password.errors.required" class="field-error-message">Este campo es obligatorio</div>
      </div>
    </div>
    <div class=error *ngIf=errorMessage>{{ errorMessage }}</div>
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
  <div class="attribution">
    Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>
