<nav-bar
  *ngIf="currentWeek"
  [content]="currentWeekName"
  [leftRouterLink]="['/week']"
  [leftQueryParams]="{week: previousWeekLink}"
  [rightRouterLink]="['/week']"
  [rightQueryParams]="{week: nextWeekLink}"
  ></nav-bar>

<div *ngIf="currentWeek" class="main-container">
  <ng-container *ngFor="let dayIndex of weekDays">
    <a
      [routerLink]="'/week'"
      [queryParams]="{week: currentWeekLink, open:dayIndex}"
      class="day"
      [class.open]="dayIndex === currentDayIndex">
      <span class="day-title">{{ weekDayName(dayIndex) }}</span>
      <svg><use href="#right-chevron" /></svg>
    </a>
    <ul *ngIf="dayIndex === currentDayIndex" class="day-slots">
      <li *ngFor="let slotName of daySlots; let slotIndex = index">
        <a [routerLink]="['/day', weekDayLink(dayIndex), slotIndex]">
          {{ slotName }}
        </a>
      </li>
    </ul>
  </ng-container>
</div>

<menu-bar [currentSection]="'week'"></menu-bar>
